.container {
    height: 100%;
    width: 100%;
    padding: 15px;
}

#foto {
    width: 600px;
    height: 400px;
    border: 1px solid blue;
    margin: 0 auto;
    text-align: center;
    padding: 40px 60px;
}

#pulsanti{
    width: 600px;
    height: 40px;
    margin: 0 auto;
    text-align: center;
    padding: 5px 0;
   /* border: 1px solid red; */
}

#foto img {
    width: 80%;
    height: 80%;
    margin: 0 auto;
    
}

#testo {
    text-align: center;
}
